# Виртуальное окружение Python
.venv/
venv/
env/
do/
posle/
# Файлы баз данных Excel
data_base_py/
base/
baze/
*.xlsm
*.xlsx
*.xls
data_base_2026.xlsm
best.xlsx
all_data.xls
all_data_best.xlsx


# Лог-файлы
*.log
logi.log

# Скомпилированные Python-файлы
__pycache__/
*.pyc
*.pyo

# Переменные окружения
.env
.env.local


# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db